src/*.exe
src/radian
src/radiand
src/test_radian
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.radian
#compilation and Qt preprocessor part
*.qm
Makefile
radian-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
